body {z-index:-1}

.menu-bar { max-width: 40%;
margin: auto;
min-height: 40px;
z-index: 1;
}
.menu-bar a {
background-color:  #dbdbdb;
border: 20px;
padding: 40px; 
border-right-color:  #99ccff; 
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-color: gray;
border: 2px solid;
margin: 20px;
}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: dark-gray;
}