body {
    margin: 0;
}
.contents {
    position: inherit;
}

.menu-bar {
overflow: hidden;
position:fixed;
    top: 0px;
width: 100%;
min-height: 40px;
}

.menu-bar a {
background-color:  #dbdbdb;
border-right-color:  #99ccff; 
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-color: gray;

}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: dark-gray;
}

video: {
    z-index: -1
}